/venv/
/adb/*
/adb/lib64/
/adb/systrace/
/adb/adb
/adb/dmtracedump
/adb/e2fsdroid
/adb/etc1tool
/adb/fastboot
/adb/hprof-conv
/adb/make_f2fs
/adb/make_f2fs_casefold
/adb/mke2fs
/adb/mke2fs.conf
/adb/NOTICE.txt
/adb/sload_f2fs
/adb/source.properties
/adb/sqlite3
/adb/*~
